[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
    process = git-lfs filter-process
[user]
    name = Zhizhen He
    email = hezhizhen.yi@gmail.com
[push]
    default = matching
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[credential]
    helper = store
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    excludesfile = /Users/hezhizhen/.gitignore
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[merge]
    tool = gvimdiff
[icdiff]
    options = --highlight --line-numbers
[pull]
    rebase = false
